body {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    background-color: rgb(56, 75, 97);
    color: white;
}

header {
    display: inline-flex;
    margin-top: 10px;
}

h1 {
    text-align: center;
    font-size: 64px;
}

#turns {
    margin-top: -16px;
}

#players-turn {
    margin-top: -12px;
    line-height: 1px;
}

.save-button {
    margin-top: 0px;
    margin-bottom: 5px;
}

.container {
    display: inline-flex;
}

#board {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.square {
    background-color: lavender;
    box-sizing: border-box;
    display: inline-flex;
    width: 30%;
    height: 30%;
    border: 1px solid black;
    margin: 2px 0;
}

img {
    height: 100px;
}

.square img {
    width: 100%;
    height: 100%;
}

.clickable.defaultX:hover {
    background-image: url(../images/x.webp);
    background-size: 148px 148px;
}

.clickable.shuriken:hover {
    background-image: url(../images/Shuriken.png);
    background-size: 148px 148px;
}

.clickable.x-wing:hover {
    background-image: url(../images/xwing.png);
    background-size: 148px 148px;
}

.clickable.link:hover {
    background-image: url(../images/Link_BotW.webp);
    background-size: 148px 148px;
}

.clickable.pikachu:hover {
    background-image: url(../images/pikachu.png);
    background-size: 148px 148px;
}

.clickable.cat:hover {
    background-image: url(../images/cat.png);
    background-size: 148px 148px;
}

.clickable.defaultO:hover {
    background-image: url(../images/circle-png.webp);
    background-size: 148px 148px;
}

.clickable.donut:hover {
    background-image: url(../images/donut_PNG31.png);
    background-size: 148px 148px;
}

.clickable.tie-fighter:hover {
    background-image: url(../images/tiefighter.webp);
    background-size: 148px 148px;
}

.clickable.kirby:hover {
    background-image: url(../images/kirby.png);
    background-size: 148px 148px;
}

.clickable.snorlax:hover {
    background-image: url(../images/snorlax.png);
    background-size: 148px 148px;
}

.clickable.dog:hover {
    background-image: url(../images/doggo.png);
    background-size: 148px 148px;
}

.sidebar {
    color: black;
    box-sizing: border-box;
    width: 200px;
    max-height: 455px;
    background-color: aliceblue;
    padding: 0.5em 3em;
    line-height: 24px;
    margin-top: 4px;
}

h3 {
    margin: 0;
}

#result {
    margin-top: -24px;
    margin-bottom: 0.2em;
    font-size: 30px;
    text-align: center;
}

#new-game {
    visibility: hidden;
}

#xEdBotActive {
    visibility: hidden;
}

#oEdBotActive {
    visibility: hidden;
}

.edBotActive {
    color: red;
    font-weight: bold;
    text-align: center;
}

.edBotDiv p {
    margin-top: -4px;
    font-size: 12px;
}